<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
    <link rel="stylesheet" href="./semantic/semantic.min.css" />

    <style>
        .ui.container {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        #purchase .image {
            height: 25vh;
        }

        #purchase-detail .image {
            height: 60vh;
        }     
          
        #sell .image {
            height: 25vh;
        }

        #sell-detail .image {
            height: 60vh;
        }     
          
        img {
            width:100% !important;
            height: 100% !important;
            object-fit: cover;
        }

    </style>
    <title>NFTS</title>
</head>

<body>
    <div id="app">
        <header id="luxbar" class="luxbar-fixed">
            <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox" />
            <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-cyan">
                <ul class="luxbar-navigation">
                    <li class="luxbar-header">
                        <a @click="transPage('home')" class="luxbar-brand">NFTS</a>
                        <label class="luxbar-hamburger luxbar-hamburger-doublespin" id="luxbar-hamburger" for="luxbar-checkbox">
                            <span></span> </label>
                    </li>
                    <li class="luxbar-item">
                        <a @click="transPage('register')">Register</a>
                    </li>
                    <li class="luxbar-item">
                        <a @click="transPage('publish')">Publish</a>
                    </li>
                    <li class="luxbar-item">
                        <a @click="transPage('purchase')">Purchase</a>
                    </li>
                    <li class="luxbar-item">
                        <a @click="transPage('sell')">Sell</a>
                    </li>
                    <li class="luxbar-item">
                        <a @click="transPage('exchange')">Exchange</a>
                    </li>
                </ul>
            </div>
        </header>

        <div id="home" v-if="currentPage == 'home'">
            <div class="ui container">
                Home
            </div>
        </div>
        <div id="register" v-if="currentPage == 'register'">
            <div class="ui container">
                Register
            </div>
        </div>

        <div id="publish" v-if="currentPage == 'publish'">
            <div class="ui container">
                <div class="ui segment publish_height">
                    <div class="ui inverted dimmer">
                        <div class="ui text loader">load</div>
                    </div>
                    <div class="wrap">
                        <form class="ui form" name="form">
                            <div class="field">
                                <label>Image</label>
                                <div class="">
                                    <label for="publish" class="file">
                                        <div class="image_box"><img src="" id="preview"><i id="camera" class="fas fa-camera img_text"></i></div>
                                        <input type="file" id="publish" onchange="PreviewImage(this);" />
                                    </label>
                                </div>
                            </div>
                            <div class="field">
                                <label>Title</label>
                                <input type="text" name="name" id="e_name" placeholder="">
                            </div>
                            <div class="ui right labeled input field">
                                <input type="text" name="price" id="e_price" placeholder="Enter price...">
                                <div class="ui basic label">
                                    ETH
                                </div>
                            </div>
                        </form>
                        <div id="confirm" class="fluid ui teal button">Publish</div>
                        <div class="fluid ui grey button">back</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="purchase" v-if="currentPage == 'purchase'">
            <div class="ui container">
                <div class="ui four stackable doubling cards">
                    <a class="ui card" v-for="purchase in purchases" @click="transPage('purchase-detail', purchase.index)">
                        <div class="image">
                            <img :src="purchase.imageUrl">
                        </div>
                        <div class="content">
                            <div class="header">Theming</div>
                            <div class="description">
                                Examples of many common UI components.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div id="purchase-detail" v-if="currentPage == 'purchase-detail'">
            <div class="ui container">
                <div class="ui two column stackable grid">
                    <div class="ui column">
                        <div class="image">
                            <img :src="purchases[index].imageUrl">
                        </div>
                    </div>
                    <div class="ui column">
                        <div class="container">
                            <h2 class="ui header">
                                {{purchases[index].name}}
                            </h2>
                            <p class="ui description">
                                0.001 ETH
                            </p>
                            <div class="ui blue button">
                                Purchase
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sell" v-if="currentPage == 'sell'">
            <div class="ui container">
                <div class="ui four stackable doubling cards">
                    <a class="ui card" v-for="sell in sells" @click="transPage('sell-detail', sell.index)">
                        <div class="image">
                            <img :src="sell.imageUrl">
                        </div>
                        <div class="content">
                            <div class="header">Theming</div>
                            <div class="description">
                                Examples of many common UI components.
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <div id="sell-detail" v-if="currentPage == 'sell-detail'">
            <div class="ui container">
                <div class="ui two column stackable grid">
                    <div class="ui column">
                        <div class="image">
                            <img :src="sells[index].imageUrl">
                        </div>
                    </div>
                    <div class="ui column">
                        <div class="container">
                            <h2 class="ui header">
                                {{sells[index].name}}
                            </h2>
                            <p class="ui description">
                                0.001 ETH
                            </p>
                            <div class="ui blue button">
                                Sell
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="exchange" v-if="currentPage == 'exchange'">
            <div class="ui container">
                Exchange
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="./semantic/semantic.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {

                    purchases: [],
                    sells: [],

                    currentPage: 'home',
                }
            },
            methods: {
                transPage: function (page, index) {
                    this.currentPage = page;
                    this.index = index - 1;
                }
            },
            mounted() {
                axios
                    .get('https://ethereum-nft-exchange.glitch.me/dac')
                    .then(response => (
                        this.purchases = response.data,
                        this.sells = response.data
                    ))
            }
        })

    </script>
</body>

</html>